button {
  border-radius: 0;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 16px;
  outline: none;
  font-weight: 500;
  margin: 4px;
}

button:hover {
  color: #fe53bb;
  border: 1px solid #fe53bb;
}
