.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.5rem + 2vmin);
  font-weight: 300;
  justify-content: center;
  min-height: 100vh;
}

.cols {
  display: flex;
  flex-direction: columns;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.5rem + 2vmin);
  font-weight: 300;
  justify-content: center;
  min-height: calc(100vh - 64px);
}

.section-header {
  border-bottom: 4px solid #282c34;
  font-weight: 500;
}

.section-header-dark {
  border-bottom: 4px solid white;
  font-weight: 500;
}
