li {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex: 1 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 2vmin;
  font-weight: 500;
  height: 64px;
  justify-content: center;
}

li:hover {
  background-color: #282c34;
  color: #fe53bb;
  cursor: pointer;
}

ul {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.nav {
  background-color: #1b1f27;
  height: 64px;
  margin: 0;
  padding: 0;
}

.nav-content {
  display: flex;
  flex-direction: row;
  height: 64px;
  margin: 0;
  padding: 0;
}
