form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

textarea {
  background-color: #1b1f27;
  border: none;
  border-radius: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 8px;
  outline: none;
  padding: 8px;
  resize: none;
}

.input-field {
  background-color: #1b1f27;
  border: none;
  border-radius: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 8px;
  outline: none;
  padding: 8px;
}

.submit {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 8px;
  margin-left: auto;
  outline: none;
  padding: 8px;
  min-width: 10vw;
}

.submit:hover {
  border: 1px solid #fe53bb;
  color: #fe53bb;
  cursor: pointer;
}

.contact {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.5rem + 2vmin);
  font-weight: 300;
  justify-content: center;
  min-height: calc(100vh - 64px);
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }

  textarea {
    font-size: 24px;
  }

  .input-field {
    font-size: 24px;
  }

  .submit {
    font-size: 24px;
  }
}
